<header>
    <div class="container" id="application-header">
        <div class="row">
            <div class="twelvecol">
                <a href="/">
                    <img src="img/cropped.png" height="100"/>
                </a>
                <ul>
                    <li><a href="getting-started.html" data-ga="true" data-event-category="getting-started" data-event-action="header">Getting Started</a></li>
                    <li><a href="http://demo.trado.io" data-ga="true" data-event-category="demo" data-event-action="header" target="_blank">Demo</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>