<header class="application-header">
    <div class="container">
        <div class="row">
            <div class="fourcol">
                <a href="/">
                    <img src="img/cropped.png" height="100"/>
                </a>
            </div>
            <div class="eightcol last">
                <ul class="menu">
                    {{partial 'header_menu_items'}}
                </ul>
            </div>
        </div>
    </div>
</header>
<header class="application-header scrolling">
    <div class="container">
        <div class="row">
            <div class="fourcol">
                <a href="/">
                    <img src="img/cropped.png" height="100"/>
                </a>
            </div>
            <div class="eightcol last">
                <ul>
                    {{partial 'header_menu_items'}}
                </ul>
            </div>
        </div>
    </div>
</header>