<div id="contactLightbox" class="lightbox">
    <form id="sendingContactMessage" method="post">
        <label>Name</label>
        <input type="text" name="from_name" />
        <label>Email</label>
        <input type="text" name="from_email" />
        <label>How can we help?</label>
        <input type="text" name="message" />
        {{!-- 
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <div class="g-recaptcha" data-sitekey="6Lfj4AwUAAAAAIiUpEnxauXlknxDVYWS_dbWYxCg"></div> --}}

        <br><br>
        <button>
            Send
        </button>
    </form>
</div>