<div id="contactLightbox" class="lightbox">
    <h3>Get in contact</h3>
    <form class="sendingContactMessage" method="post">
        <div id="success"></div>
        <div id="errors">
        </div>
        <label>Name</label>
        <input type="text" name="from_name" />
        <label>Email</label>
        <input type="text" name="from_email" />
        <label>How can we help?</label>
        <textarea name="message" rows="8"></textarea>
        {{!-- 
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <div class="g-recaptcha" data-sitekey="6Lfj4AwUAAAAAIiUpEnxauXlknxDVYWS_dbWYxCg"></div> --}}
        <button class="cta-bold cta-green cta-block call-to-action">
            Send
        </button>
    </form>
</div>