<footer>
    <div class="container">
        <div class="row">
            <div class="threecol mobile">
                <h3>Quick links</h3>
                <ul>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="release-notes" href="http://release.tomdallimore.com/projects/trado" target="_blank">Release notes</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="redlight" href="http://redlight.tomdallimore.com">Redlight ecommerce template</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="soca" href="http://soca.tomdallimore.com">Soca administration template</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="youtube-tutorials" href="http://www.youtube.com/playlist?list=PL1Z2X4oVIsXkzRUJa9Ei8dET_VI04H19u" target="_blank">Tutorials</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="email" href="mailto:me@tomdallimore.com">Support</a></li>
                </ul>
            </div>
            <div class="threecol last mobile">
                <h3>Social</h3>
                <ul>
                    <li><a data-ga="true" data-event-category="social" data-event-action="twitter" href="http://twitter.com/trado_ecommerce" target="_blank">Follow us on Twitter</a></li>
                    <li><a data-ga="true" data-event-category="social" data-event-action="facebook" href="http://facebook.com/tradoecommerce" target="_blank">Like us on Facebook</a></li>
                    <li><a data-ga="true" data-event-category="social" data-event-action="github-repo" href="https://github.com/Jellyfishboy/trado" target="_blank">Github repository</a></li>
                </ul>
            </div>
            <div class="clear mobile"></div>
            <div class="sixcol">
                <img src="img/thumbnail.png" class="desktop"/>
                <div>
                    <p>Trado is built and supported by <a data-ga="true" data-event-category="tomdallimore" data-event-action="website" href="http://www.tomdallimore.com" target="_blank">Tom Dallimore</a>.</p>
                    <p>Copyright © 2015 Tom Dallimore</p>
                    <p>Trado is an <a data-ga="true" data-event-category="quick-links" data-event-action="licence" href="https://github.com/Jellyfishboy/trado/blob/master/LICENSE" target="_blank">open source platform</a> under the MIT license.<br>Contributions to the platform are welcome.</p>
                </div>
            </div>
            <div class="threecol desktop">
                <h3>Quick links</h3>
                <ul>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="release-notes" href="http://release.tomdallimore.com/projects/trado" target="_blank">Release notes</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="redlight" href="http://redlight.tomdallimore.com">Redlight ecommerce template</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="soca" href="http://soca.tomdallimore.com">Soca administration template</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="youtube-tutorials" href="http://www.youtube.com/playlist?list=PL1Z2X4oVIsXkzRUJa9Ei8dET_VI04H19u" target="_blank">Tutorials</a></li>
                    <li><a data-ga="true" data-event-category="quick-links" data-event-action="email" href="mailto:me@tomdallimore.com">Support</a></li>
                </ul>
            </div>
            <div class="threecol last desktop">
                <h3>Social</h3>
                <ul>
                    <li><a data-ga="true" data-event-category="social" data-event-action="twitter" href="http://twitter.com/trado_ecommerce" target="_blank">Follow us on Twitter</a></li>
                    <li><a data-ga="true" data-event-category="social" data-event-action="facebook" href="http://facebook.com/tradoecommerce" target="_blank">Like us on Facebook</a></li>
                    <li><a data-ga="true" data-event-category="social" data-event-action="github-repo" href="https://github.com/Jellyfishboy/trado" target="_blank">Github repository</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>