<footer>
    <div class="container">
        <div class="row">
            <div class="threecol mobile">
                <h3>Quick links</h3>
                <ul>
                    <li><a href="http://release.tomdallimore.com/" target="_blank">Release notes</a></li>
                    <li><a href="mailto:me@tomdallimore.com">Support</a></li>
                </ul>
            </div>
            <div class="threecol last mobile">
                <h3>Social</h3>
                <ul>
                    <li><a href="http://twitter.com/trado_ecommerce" target="_blank">Follow us on Twitter</a></li>
                    <li><a href="https://github.com/Jellyfishboy/trado" target="_blank">Github repository</a></li>
                </ul>
            </div>
            <div class="clear mobile"></div>
            <div class="sixcol">
                <img src="img/thumbnail.png" class="desktop"/>
                <div>
                    <p>Trado is built and supported by <a href="http://www.tomdallimore.com" target="_blank">Tom Dallimore</a>.</p>
                    <p>Copyright © 2015 Tom Dallimore</p>
                    <p>Trado is an <a href="https://github.com/Jellyfishboy/trado/blob/master/LICENSE" target="_blank">open source platform</a> under the MIT license.<br>Contributions to the platform are welcome.</p>
                </div>
            </div>
            <div class="threecol desktop">
                <h3>Quick links</h3>
                <ul>
                    <li><a href="http://release.tomdallimore.com/" target="_blank">Release notes</a></li>
                    <li><a href="mailto:me@tomdallimore.com">Support</a></li>
                </ul>
            </div>
            <div class="threecol last desktop">
                <h3>Social</h3>
                <ul>
                    <li><a href="http://twitter.com/trado_ecommerce" target="_blank">Follow us on Twitter</a></li>
                    <li><a href="https://github.com/Jellyfishboy/trado" target="_blank">Github repository</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>