<footer>
    <div class="container">
        <div class="sixcol">
            <p>Trado is built and supported by Tom Dallimore.</p>
            <p>Copyright © 2015 Tom Dallimore</p>
            <p>Trado is an <a href="https://github.com/Jellyfishboy/trado/blob/master/LICENSE" target="_blank">open source platform</a> under the MIT license. Contributions to the platform are welcome.</p>
        </div>
        <div class="sixcol last">
            <h3>Social</h3>
            <ul>
                <li><a href="http://twitter.com/trado_ecommerce" target="_blank">Follow us on Twitter</a></li>
                <li><a href="https://github.com/Jellyfishboy/trado" target="_blank">Github repository</a></li>
            </ul>
        </div>
    </div>
</footer>