<header>
    <div class="container">
        <div class="row">
            <div class="sixcol">
                <img src="img/cropped.png" height="100"/>
            </div>
            <div class="sixcol last">
                <a href="#hire-me-background" data-ga="true" data-event-category="hire-me" data-event-action="header" class="call-to-action cta-faded">Hire me</a>
            </div>
        </div>
    </div>
</header>