<li><a href="/getting-started.html" data-ga="true" data-event-category="header" data-event-action="getting-started">Getting Started</a></li>
<li><a href="/modules.html" data-ga="true" data-event-category="header" data-event-action="modules">Modules</a></li>
<li><a href="/deploy.html" data-ga="true" data-event-category="header" data-event-action="deploy">Deploy</a></li>
<li><a href="http://demo.trado.io" data-ga="true" data-event-category="header" data-event-action="demo" target="_blank">Demo</a></li>
<li><a href="#" data-ga="true" data-event-category="header" data-event-action="get-in-contact" class="open-contact-form">Contact</a></li>