<header>
    <div class="container">
        <div class="row">
            <div class="sixcol">
                <img src="img/cropped.png" height="100"/>
            </div>
            <div class="sixcol last">
                <div class="btn btn-default">Try our demo</div>
            </div>
        </div>
    </div>
</header>