<header class="home-header">
    <div class="container">
        <div class="row">
            <div class="fourcol">
                <img src="img/cropped.png" height="100"/>
            </div>
            <div class="eightcol last">
                <ul class="menu">
                    {{partial 'header_menu_items'}}
                </ul>
            </div>
        </div>
    </div>
</header>
<header class="home-header scrolling">
    <div class="container">
        <div class="row">
            <div class="fourcol">
                <img src="img/cropped.png" height="100"/>
            </div>
            <div class="eightcol last">
                <ul>
                    {{partial 'header_menu_items'}}
                </ul>
            </div>
        </div>
    </div>
</header>
