<div id="newsletterLightbox" class="lightbox">
    <h3>Keep up to date with Trado</h3>
    <p>Get the latest release info and updates with our newsletter</p>
    <div class="beta-request">
        <form class="beta-request-form" role="form" action="http://tomdallimore.us7.list-manage1.com/subscribe/post" novalidate="true">
            <input type="text" class="first-name" name="FNAME" placeholder="Name">
            <input type="email" class="email" name="EMAIL" placeholder="Email">
            <button type="submit" class="cta-bold cta-green cta-block call-to-action">Invite me</button>
        </form>
        <div class="beta-request-error text-center">
            <p>    
                <i class="fa fa-exclamation-circle"></i>&nbsp; Please enter your first name and a valid email address.
            </p>
        </div>
        <div class="beta-request-already-subscribed text-center">
            <p>
                <i class="fa fa-check-circle"></i>&nbsp; We'll let you know as soon as we're ready for you!
            </p>
        </div>          
        <div class="beta-request-result text-center">
            <p>
                <i class="fa fa-envelope"></i>&nbsp; Thanks! Please check your inbox for a verification email.
            </p>
        </div>
    </div>
    <p class="small"><i>We only ever email with new updates to the Trado platform; we do not spam</p>
</div>