* 
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
*, *:before, *:after 
{
    @include box-sizing(border-box);
}
body
{
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    background-color: #F0F0F0;
    color: #333;
}
h1
{
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 500;
}
h2
{
    color: $dark-blue;
}
h2, h3
{
    font-family: "museo-sans",sans-serif;
    font-style: normal;
    font-weight: 300;
}
p
{
    line-height:1.8em;
}
a
{
    color: $blue;
    text-decoration: none;
    outline: none;

    &:hover
    {
        text-decoration: underline;
        color: $blue;
    }
    &:active, &:focus
    {
        text-decoration: none;
        color: $blue;
    }
}
.mobile
{
    display: none;
}
.desktop
{
    display: inline-block;
}
.clear
{
    clear:both;
}
.align-left
{
    text-align: left;
}
.align-right
{
    text-align: right;
}
.align-center
{
    text-align: center;
}
.lightbox
{
    display: none;
}