.call-to-action
{
    border: 1px solid rgba(57,181,74,0.5);
    @include border-radius(4px);
    padding:10px 15px;
    text-transform: uppercase;
    font-weight: 500;
    outline:none;
    display: inline-block;

    &:hover
    {
        text-decoration: none;
    }
}
.cta-bold
{
    color:#fff;
    background-color: $green;

    &:hover
    {
        background-color: $dark-green;
        color:#fff;
    }
}
.cta-faded
{   
    color: $green;
    background: none;

    &:hover
    {
        background: $green;
        color: #fff;
    }
}
.cta-orange
{
    background-color: $orange !important;
    border: 1px solid rgba(255,106,38,0.5) !important;

    &:hover
    {
        background-color: $dark-orange !important;
        color: #fff;
    }
}
.cta-blue
{
    background-color: $dark-blue !important;
    border: 1px solid rgba(0,113,188,0.5) !important;

    &:hover
    {
        background-color: $dark-dark-blue !important;
        color: #fff;
    }
}