#hero-image
{
    background: image-url('hero.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position: fixed;
    width:100%;
    -webkit-transform:translateZ(0px);
    -moz-transform:translateZ(0px);
    -o-transform:translateZ(0px);
    transform:translateZ(0px);
    height:125%; /* To compensate for mobile browser address bar space */
    top:0;
    left:0;
}

#hero
{
    margin:-120px 0 0;
    text-align: center;
    z-index:1;
    position: relative;
    padding:200px 0;
    -webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    -o-transform:translateZ(1px);
    transform:translateZ(1px);

    h1, h2
    {
        text-shadow: 0px 0px 30px rgba(0,0,0,0.25);
    }

    h1
    {
        font-size:3em;
        width:70%;
        margin:0 auto 10px;
        color: $dark-blue;
    }
    h2
    {
        font-size:1.7em;
        font-weight:100;
        margin:0 auto;
        width:60%;
        color: $dark-green;
        margin-bottom: 40px;
    }
    h1, h2
    {
        line-height: 1.5em;
    }
}   

#content
{
    background-color: #f0f0f0;
    position: relative;
    padding-top:50px;
    -webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    -o-transform:translateZ(1px);
    transform:translateZ(1px);


    .content-section
    {
        margin-bottom:50px;

        h2
        {
            margin-top: 40px;
            line-height: 1.3em;
        }

        p
        {
            margin-bottom: 20px;
        }
    }

    #google-analytics-background
    {
        overflow:hidden;

        .content-section
        {
            margin-bottom: 0;

            .row
            {
                .sixcol
                {
                    &:first-child
                    {
                        margin-bottom:50px;
                    }
                }
            }
        }

        .tablet
        {
            @include transition-property(right);
            @include transition-timing-function(linear);
            @include transition-duration(0.4s);
            display: none;
        }
    }

    #cms-background
    {
        background: image-url('cms-slide.png');
        background-repeat: no-repeat;
        background-position: right center;
        min-height: 400px;
        margin-bottom:50px;
        @include transition-property(background-position);
        @include transition-timing-function(linear);
        @include transition-duration(0.4s);

        .content-section
        {

            .sixcol.last
            {
                text-align: left;
            }
        }
    }


    #delivery-background
    {
        background: image-url('gmap.png');
        background-repeat: no-repeat;
        background-position: center left;
        min-height: 400px;
        margin-bottom:50px;
        @include transition-property(background);
        @include transition-timing-function(linear);
        @include transition-duration(0.4s);

        .content-section
        {
            margin-bottom: 0;
            margin-top:50px;

            .sixcol.last
            {
                text-align: left;
            }
        }
    }

    #delivery-mobile-background
    {
        background: image-url('gmap-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height:300px;
        margin-top:15px;
    }

    #theme-background
    {
        min-height: 400px;
        position: relative;
        overflow: hidden;

        img
        {
            position: absolute;
            top:0px;
            left:0px;
            max-height: 600px;
        }

        .content-section
        {
            margin-bottom: 0;

            .sixcol.last
            {
                text-align: left;
            }
        }
    }

    #hire-me-background
    {
        background: image-url('hire-me.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        height:400px;

        h2
        {
            margin-top:80px;
        }
        a.cta-orange
        {
            margin-right:15px;
        }
    }

    #theme-mobile-background
    {
        background: image-url('theme-mobile.png');
        background-repeat: no-repeat;
        background-position: center;
        height:365px;
    }

    #dev-business 
    {
        .tablet
        {
            display: none;
        }
    }
}