#hero
{
    background:url('/img/slide.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    height:850px;
    padding-top:200px;
    margin:-120px 0 50px;
    text-align: center;

    h1
    {
        line-height: 1.5em;
    }
}   

.content-section
{
    margin-bottom:50px;

    &:nth-child(odd)
    {
        .sixcol.last
        {
            text-align: center;
        }
    }

    &:nth-child(even)
    {
        .sixcol
        {
            text-align: center;
        }

        .sixcol.last
        {
            text-align: left;
        }
    }

    p
    {
        margin-bottom: 20px;
    }
}