#hero-image
{
    background: image-url('slide.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    position: fixed;
    width:100%;
    z-index:0;
    height:100%;
    top:0;
}

#hero
{
    margin:-120px 0 0;
    text-align: center;
    z-index:1;
    position: relative;
    padding:200px 0;

    h1
    {
        font-size:3em;
        width:70%;
        margin:0 auto 10px;
        color: $dark-blue;
    }
    h2
    {
        font-size:1.7em;
        font-weight:100;
        margin:0 auto;
        width:60%;
        color: $dark-green;
        margin-bottom: 40px;
    }
    h1, h2
    {
        line-height: 1.5em;
    }
}   

#content
{
    background-color: #f0f0f0;
    position: relative;
    z-index:1;
    padding-top:50px;

    .content-section
    {
        margin-bottom:50px;

        &#google-analytics
        {
            margin-bottom: 0;
        }

        &:nth-child(odd)
        {
            .sixcol.last
            {
                text-align: center;
            }
        }

        &:nth-child(even)
        {
            .sixcol
            {
                text-align: center;
            }

            .sixcol.last
            {
                text-align: left;
            }
        }


        #soca-animation
        {
            height:350px;
        }

        h2
        {
            margin-top: 40px;
            line-height: 1.3em;
        }

        p
        {
            margin-bottom: 20px;
        }
    }
    #delivery-background
    {
        margin-bottom:50px;
        background: url('../img/gmap.png');
        background-repeat: no-repeat;
        background-position: center left;
        min-height: 400px;

        .content-section
        {
            margin-bottom: 0;
            margin-top:50px;

            .sixcol.last
            {
                text-align: left;
            }
        }
    }
}