.featherlight
{
    .featherlight-content
    {
        background-color: #F0F0F0;
        padding: 25px 50px 25px;
        
        .featherlight-close-icon
        {
            top:5px;
            right:5px;
            background-color: #F0F0F0;
            outline:0;
        }

        h3
        {
            color: $dark-blue;
            margin:20px 0;
        }

        form
        {
            input, textarea
            {
                margin-right: 0;
                text-transform: inherit;
            }

            label
            {
                margin:20px 0 10px;
                font-style: normal;
                font-weight: 300;
                font-size: 0.9em;
                color:#333;
                font-family: "museo-sans",sans-serif;

                &.error
                {
                    margin:1px 0 0;
                    color: $red;
                    font-size: 0.85em;
                }
            }

            button
            {
                margin-top: 20px;
                width:100%;
            }

            #errors
            {
                color: $red;
            }
            #success
            {
                color: $dark-green;
            }
        }
    }
}
form.sendingContactMessage
{
    label
    {
        display: block;
    }
    input, textarea
    {
        width: 450px;
    }
}