@media handheld, only screen and (max-width: 991px) 
{
    body
    {
        .content-section
        {
            h2
            {
                margin-top:10px !important;
            }
        }
    }
}
@media handheld, only screen and (max-width: 770px) 
{
    body
    {
        #hero
        {
            h1
            {
                width:75%;
            }
            h2
            {
                width:65%;
            }
            form
            {
                padding:0 10px;
            }
        }
        #cms-background, #delivery-background
        {
            background: none !important;
            height: auto;
            margin-bottom: 0 !important;
        }

        #delivery-background
        {
            .content-section
            {
                margin-top:0 !important;
            }
        }

        #theme-background
        {
            img
            {
                position:relative !important;
            }
        }

        .content-section
        {
            margin-bottom: 0 !important;

            .sixcol
            {
                text-align: center !important;
            }
        }
        img.mobile
        {
            display: inline-block;
        }
        .mobile
        {
            display: block;
        }
        .desktop
        {
            display: none;
        }
        footer
        {
            .threecol
            {
                float:left !important;
            }
            .sixcol
            {
                margin-top: 20px;
            }
        }
    }
}
@media handheld, only screen and (max-width: 605px) 
{
    body
    {
        form
        {
            input[type="text"], input[type="email"]
            {
                display: block;
                margin:0 auto 15px; 
            }
        }
        #hero
        {
            padding:150px 0;
            
            h1
            {
                font-size:2.5em;
            }
        }
    }
}