<div id="hero-image"></div>
<div id="hero">
    <div class="container">
        <h1>A new, lightweight, easy to use <br>open source e-commerce platform.</h1>
        <h2>Ghetto ipsizzle i'm in the shizzle sit shizzlin dizzle, ass adipiscing elit. Ass ma nizzle velizzle, cool volutpizzle, suscipizzle quizzle, gravida vizzle, arcu.</h2>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="content-section">
            <div class="row">
                <div class="sixcol">
                    <h2>Fully featured content management system</h2>
                    <p>Trado comes bundled with a fully fledged content management system; carefully designed to be intuitive and easy to use, so you can spend less time setting up and more time selling your products. The web-based interface allows you to manage your orders, product catalogue, delivery services and other key areas of your store.</p>
                </div>
                <div class="sixcol last">
                    <img src="http://placehold.it/400x250" />
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="row">
                <div class="sixcol">
                    <img src="http://placehold.it/400x250" class="desktop" />
                </div>
                <div class="sixcol last">
                    <h2>Integrated PayPal payment gateway</h2>
                    <p>Ghetto ipsizzle i'm in the shizzle sit shizzlin dizzle, ass adipiscing elit. Ass ma nizzle velizzle, cool volutpizzle, suscipizzle quizzle, gravida vizzle, arcu. I'm in the shizzle izzle tortor. Sed eros. Fusce you son of a bizzle dolor owned turpis tempizzle break yo neck, yall.</p>
                    <img src="http://placehold.it/400x250" class="mobile" />
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="row">
                <div class="sixcol">
                    <h2>Track traffic with Google Analytics</h2>
                    <p>Ghetto ipsizzle i'm in the shizzle sit shizzlin dizzle, ass adipiscing elit. Ass ma nizzle velizzle, cool volutpizzle, suscipizzle quizzle, gravida vizzle, arcu. I'm in the shizzle izzle tortor. Sed eros. Fusce you son of a bizzle dolor owned turpis tempizzle break yo neck, yall. </p>
                </div>
                <div class="sixcol last">
                    <img src="http://placehold.it/400x250" />
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="row">
                <div class="sixcol">
                    <img src="http://placehold.it/400x250" class="desktop" />
                </div>
                <div class="sixcol last">
                    <h2>Intuitive delivery service tools</h2>
                    <p>Ghetto ipsizzle i'm in the shizzle sit shizzlin dizzle, ass adipiscing elit. Ass ma nizzle velizzle, cool volutpizzle, suscipizzle quizzle, gravida vizzle, arcu. I'm in the shizzle izzle tortor. Sed eros. Fusce you son of a bizzle dolor owned turpis tempizzle break yo neck, yall. </p>
                    <img src="http://placehold.it/400x250" class="mobile" />
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="row">
                <div class="sixcol">
                    <h2>Built with Ruby on Rails 4.2</h2>
                    <p>Built with the latest version of Ruby on Rails, Trado is sporting an arsenal of awesome features which are in keeping with the freshest coding trends and standards. Whether you're new to Ruby on Rails or a Ruby veteran, Trado's structured and documented codebase allows developers to quickly pickup and manage the platform with ease.</p>
                </div>
                <div class="sixcol last">
                    <img src="http://placehold.it/400x250" />
                </div>
            </div>
        </div>
        <div class="content-section">
            <div class="row">
                <div class="sixcol">
                    <img src="http://placehold.it/400x250" class="desktop" />
                </div>
                <div class="sixcol last">
                    <h2>Designed for developers and business owners</h2>
                    <p>Whether you're a developer or a business owner, Trado has been carefully designed to allow anyone to easily get started selling their products online. Integrating new features and changing store themes can be achieved by either building your own or using the bundled user-friendly tools to install preset themes and modules.</p>
                    <img src="http://placehold.it/400x250" class="mobile" />
                </div>
            </div>
        </div>
    </div>
</div>