---
title: Deploying your Online Store
description: Configurations and walkthroughs to help you deploy your Online Store to Heroku, Amazon AWS, Digital Ocean and Linode.
seo_image: deploy
seo_url: deploy
---
<div id="hero" class="hero-documentation">
    <div class="container">
        <h1>Deploying your Online Store</h1>
        <h2>Configurations and walkthroughs to help you deploy your Online Store to a live environment.</h2>
    </div>
</div>
<div class="container">
    <div id="documentation" class="module-documentation">
        <div class="row">
            <div class="twelvecol content">
                <h3 id="heroku">Heroku</h3>
                <p>Coming soon...</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                    <div class="sixcol module-actions last">
                    </div>
                </div>
                <h3 id="amazon-aws">Amazon AWS</h3>
                <p>Coming soon...</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                    <div class="sixcol module-actions last">
                    </div>
                </div>
                <h3 id="digital-ocean">Digital Ocean</h3>
                <p>Coming soon...</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                    <div class="sixcol module-actions last">
                    </div>
                </div>
                <h3 id="linode">Linode</h3>
                <p>Coming soon...</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                    <div class="sixcol module-actions last">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>