---
title: Deploying your Online Store
description: Information and configurations to help you deploy your Online Store to Heroku, Amazon AWS, Digital Ocean and Linode.
seo_image: deploy
seo_url: deploy
---
<div id="hero" class="hero-documentation">
    <div class="container">
        <h1>Deploying your Online Store</h1>
        <h2>Information and configurations to help you deploy your Online Store to a live environment.</h2>
    </div>
</div>
<div class="container">
    <div id="documentation" class="deploy-documentation">
        <div class="row">
            <div class="twelvecol content">
                <div class="row">
                    <div class="sixcol">
                        <img src="img/heroku.png" alt="Heroku" id="heroku" class="logo"/>
                    </div>
                    <div class="sixcol last">
                        <a href="https://heroku.com/deploy?template=https://github.com/Jellyfishboy/trado/tree/deploy/heroku" class="deploy-action" target="_blank" data-ga="true" data-event-category="deployment-triggers" data-event-action="heroku">
                            <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
                        </a>
                        <p class="last-updated">Last updated 24/11/2016</p>
                    </div>
                </div>
                <p>Heroku over the past 5 years has become an increasingly popular choice for both developers and business owners. It boasts an abundance of plug and play tools to enable developers to deploy and scale applications with little maintenance and setup required, therefore making it an ideal choice for small to medium sized businesses. In order to take advantage of the full suite of features included in the Trado platform, we have tailor made a basic Heroku deploy configuration which has been outlined below. If you would like to scale your application to accomodate more traffic or wish to customise your application deployment, please <a href="#" data-ga="true" data-event-category="get-in-contact" data-event-action="deploy-heroku" class="open-contact-form">get in contact</a> with our support team.</p>
                <div class="row">
                    <div class="sixcol">
                        <ul class="deploy-services">
                            <li>
                                <a href="https://devcenter.heroku.com/articles/dyno-types" data-ga="true" data-event-category="deploy-heroku" data-event-action="web-dyno" target="_blank">
                                    <span>Web Dyno</span>
                                    <span>Free</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://devcenter.heroku.com/articles/dyno-types" data-ga="true" data-event-category="deploy-heroku" data-event-action="worker-dyno" target="_blank">
                                    <span>Worker Dyno</span>
                                    <span>Free</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://elements.heroku.com/addons/heroku-postgresql" data-ga="true" data-event-category="deploy-heroku" data-event-action="postgresql" target="_blank">
                                    <span>PostgreSQL - v9.5</span>
                                    <span>Free</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://elements.heroku.com/addons/heroku-redis" data-ga="true" data-event-category="deploy-heroku" data-event-action="redis" target="_blank">
                                    <span>Redis - 25mb</span>
                                    <span>Free</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://elements.heroku.com/addons/memcachier" data-ga="true" data-event-category="deploy-heroku" data-event-action="memcachier" target="_blank">
                                    <span>MemCachier - 25mb</span>
                                    <span>Free</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://elements.heroku.com/addons/rollbar" data-ga="true" data-event-category="deploy-heroku" data-event-action="rollbar" target="_blank">
                                    <span>Rollbar - 3,0000/m</span>
                                    <span>Free</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://elements.heroku.com/addons/sendgrid" data-ga="true" data-event-category="deploy-heroku" data-event-action="sendgrid" target="_blank">
                                    <span>SendGrid - 12,000/m</span>
                                    <span>Free</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sixcol yt-container last">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                </div>
                <a href="#" class="open-contact-form" id="deploy-support">
                    <h2>Need help getting started or looking for a more customized deployment?</h2>
                    <p>Let our support team help!</p>
                </a>
                <div class="row">
                    <div class="sixcol">
                        <img src="img/aws.png" alt="Amazon AWS" id="amazon-aws" class="logo"/>
                    </div>
                    <div class="sixcol last">
                    </div>
                </div>
                <p>More information coming soon...</p>
                <div class="row">
                    <div class="sixcol">
                        <ul class="deploy-services">
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sixcol yt-container last">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="sixcol">
                        <img src="img/digital-ocean.png" alt="Digital Ocean" id="digital-ocean" class="logo"/>
                    </div>
                    <div class="sixcol last">
                    </div>
                </div>
                <p>More information coming soon...</p>
                <div class="row">
                    <div class="sixcol">
                        <ul class="deploy-services">
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sixcol yt-container last">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="sixcol">
                        <img src="img/linode.png" alt="Linode" id="linode" class="logo"/>
                    </div>
                    <div class="sixcol last">
                    </div>
                </div>
                <p>More information coming soon...</p>
                <div class="row">
                    <div class="sixcol">
                        <ul class="deploy-services">
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>Coming</span>
                                    <span>Soon</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sixcol yt-container last">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>