---
title: List of modules for Trado
description: Customise your online ecommerce store with our library of modules, built and optimised for the Trado platform.
seo_image: modules
seo_url: modules
---
<div id="hero" class="hero-documentation">
    <div class="container">
        <h1>Modules</h1>
        <h2>Customise your online ecommerce store with our library of modules, built and optimised for the Trado platform.</h2>
    </div>
</div>
<div class="container">
    <div id="documentation" class="module-documentation">
        <div class="row">
            <div class="twelvecol content">
                {{!-- <img src="img/stripe.png" alt="Stripe" id="stripe" /> --}}
                <h3 id="stripe">Stripe</h3>
                <p>The Stripe module seamlessly integrates with the checkout process in the Trado platform, allowing developers to securely accept all major cards from customers around the world. In addition to now accepting card payments, the Trado administration area has been updated to provide insightful information from Stripe for both individual and collections of orders, thereby enabling you to better understand your customers.</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <iframe height="250" src="https://www.youtube.com/embed/GOKWM7VWum0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="sixcol module-actions last">
                        <a href="http://github.com/Jellyfishboy/trado-stripe-module" data-ga="true" data-event-category="stripe-mobule" data-event-action="github" target="_blank" class="cta-blue cta-block call-to-action">Github</a>
                        <a href="https://dashboard.stripe.com/register" data-ga="true" data-event-category="stripe-mobule" data-event-action="official-website" target="_blank" class="cta-bold cta-block call-to-action">Stripe Website</a>
                        <a href="http://release.tomdallimore.com/projects/trado-stripe" data-ga="true" data-event-category="stripe-mobule" data-event-action="release-notes" target="_blank" class="cta-orange cta-block call-to-action">Release Notes</a>
                    </div>
                </div>
                <h3 id="paypal">PayPal</h3>
                <p>The Paypal module enables a developer to quickly set up and start receiving online payments through a globally trusted and reliable provider. This module can smoothly work alongside the Stripe module during the checkout process, providing multiple payment options for you and your customers around the world.</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                    <div class="sixcol module-actions last">
                        <a href="http://github.com/Jellyfishboy/trado-paypal-module" data-ga="true" data-event-category="paypal-mobule" data-event-action="github" target="_blank" class="cta-blue cta-block call-to-action">Github</a>
                        <a href="https://www.paypal.com/signup/account" data-ga="true" data-event-category="paypal-mobule" data-event-action="official-website" target="_blank" class="cta-bold cta-block call-to-action">PayPal Website</a>
                        <a href="http://release.tomdallimore.com/projects/trado-paypal" data-ga="true" data-event-category="paypal-mobule" data-event-action="release-notes" target="_blank" class="cta-orange cta-block call-to-action">Release Notes</a>
                    </div>
                </div>
                <h3 id="googlemerchant">Google Merchant</h3>
                <p>The Google Merchant module automatically creates an XML and RSS feed for all the published products in your online ecommerce store.</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <iframe height="250" src="https://www.youtube.com/embed/ss_PX-EXu1I" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="sixcol module-actions last">
                        <a href="http://github.com/Jellyfishboy/trado-googlemerchant-module" data-ga="true" data-event-category="googlemerchant-mobule" data-event-action="github" target="_blank" class="cta-blue cta-block call-to-action">Github</a>
                        <a href="https://support.google.com/merchants/answer/188924?hl=en" data-ga="true" data-event-category="googlemerchant-mobule" data-event-action="official-website" target="_blank" class="cta-bold cta-block call-to-action">Google Merchant Website</a>
                        <a href="http://release.tomdallimore.com/projects/trado-google-merchant" data-ga="true" data-event-category="googlemerchant-mobule" data-event-action="release-notes" target="_blank" class="cta-orange cta-block call-to-action">Release Notes</a>
                    </div>
                </div>
                <h3 id="mailchimp">MailChimp</h3>
                <p>The MailChimp modules integrates with your checkout process to provide the option for customers to sign up to your online store newsletter. The email addresses are sent to a custom list in your MailChimp dashboard; the newsletter subscription list can then be used later to network and market to your customers.</p>
                <div class="row">
                    <div class="sixcol yt-container">
                        <div class="coming-soon">Video Coming Soon</div>
                    </div>
                    <div class="sixcol module-actions last">
                        <a href="http://github.com/Jellyfishboy/trado-mailchimp-module" data-ga="true" data-event-category="mailchimp-mobule" data-event-action="github" target="_blank" class="cta-blue cta-block call-to-action">Github</a>
                        <a href="http://eepurl.com/cnxLQX" target="_blank" data-ga="true" data-event-category="mailchimp-mobule" data-event-action="official-website" class="cta-bold cta-block call-to-action">MailChimp Website</a>
                        <a href="http://release.tomdallimore.com/projects/trado-mailchimp" data-ga="true" data-event-category="mailchimp-mobule" data-event-action="release-notes" target="_blank" class="cta-orange cta-block call-to-action">Release Notes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>