<div id="hero-image"></div>
<div id="hero">
    <div class="container">
        <h1>A new, lightweight, <br>open source e-commerce platform.</h1>
        <h2>Trado is currently being polished and primed for it's first public release. Be the first to know when it's ready:</h2>
        <div class="beta-request">
            <form class="beta-request-form" role="form" action="http://tomdallimore.us7.list-manage1.com/subscribe/post" novalidate="true">
                <input type="text" class="first-name" name="FNAME" placeholder="name">
                <input type="email" class="email" name="EMAIL" placeholder="email">
                <button type="submit" class="beta-request-btn">Invite me</button>
            </form>
            <div class="beta-request-error text-center">
                <p>    
                    <i class="fa fa-exclamation-circle"></i>&nbsp; Please enter your first name and a valid email address.
                </p>
            </div>
            <div class="beta-request-already-subscribed text-center">
                <p>
                    <i class="fa fa-check-circle"></i>&nbsp; We'll let you know as soon as we're ready for you!
                </p>
            </div>          
            <div class="beta-request-result text-center">
                <p>
                    <i class="fa fa-envelope"></i>&nbsp; Thanks! Please check your inbox for a verification email.
                </p>
            </div>
        </div>
{{!--         <a href="getting-started.html" data-ga="true" data-event-category="getting-started" data-event-action="home" class='call-to-action cta-bold cta-green'>Get Started</a>
        <a href="http://demo.trado.io" data-ga="true" data-event-category="demo" data-event-action="home" class='call-to-action cta-bold cta-blue' target="_blank">Demo</a> --}}
    </div>
</div>
<div id="content">
    <div id="cms-background">
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                        <h2>Fully featured content management system</h2>
                        <p>Trado comes bundled with a fully fledged content management system; carefully designed to be intuitive and easy to use, so you can spend less time setting up and more time selling your products. The web-based interface allows you to manage your orders, product catalogue, delivery services and other key areas of your store.</p>
                    </div>
                    <div class="sixcol last">
                        <img src="img/cms-mobile.png" class="mobile" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-section">
            <div class="row">
                <div class="sixcol align-center">
                    <img src="img/paypal-slide.png" class="desktop" />
                </div>
                <div class="sixcol last">
                    <h2>Integrated PayPal payment gateway</h2>
                    <p>Trado supports the widely used and trusted online payment gateway, PayPal. Managing your customer orders for payment and delivery has never been so easy, with a simple and flexible admin user interface. Within minutes of setting up your store, you can start receiving payments securely online from your customers.</p>
                    <img src="img/paypal-slide.png" class="mobile" />
                </div>
            </div>
        </div>
    </div>
    <div id="google-analytics-background">
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                        <h2>Traffic tracking with Google Analytics</h2>
                        <p>Building insights into how customers interact with your store is a breeze with the Trado e-commerce platform. Simply add your web tracking ID into the store settings, and instantly start receiving valuable data to help boost sales, find more visitors and grow your business.</p>
                    </div>
                    <div class="sixcol last align-center">
                        <img src="img/ga-slide.png" />
                    </div>
                </div>
            </div>
        </div>
        <img src="img/ga-slide.png" class="tablet"/>
    </div>
    <div id="delivery-background">
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                    </div>
                    <div class="sixcol last">
                        <h2>Powerful delivery service tools</h2>
                        <p>One of the biggest features of Trado, is the intuitive yet powerful delivery service tools. Unlike other leading e-commerce platforms, Trado can calculate delivery service options based on the weight, length and thickness dimensions of your customer orders. This allows your business to provide a wide array of accurate delivery service options from various postal service companies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="delivery-mobile-background" class="mobile"></div>
    </div>
    <div class="container">
        <div class="content-section" id="dev-business">
            <div class="row">
                <div class="sixcol">
                    <h2>Designed for developers and business owners</h2>
                    <p>Whether you're a developer or a business owner, Trado has been carefully designed to allow anyone to easily get started selling their products online. The fundamnetal ethos behind Trado is the idea that selling online should be simple; this is achieved through a clear user experience and a codebase which can easily be adapted and extended for new features.</p>
                </div>
                <div class="sixcol last align-center">
                    <img src="img/dev-business.png"/>
                    <img src="img/dev-business-tablet.png" class="tablet"/>
                </div>
            </div>
        </div>
    </div>
    <div id="theme-background">
        <img src="img/theme-slide-final.png" class="desktop"/>
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                    </div>
                    <div class="sixcol last">
                        <h2>Flexible theme customisation</h2>
                        <p>In order to help you get your store off the ground quickly, Trado comes bundled with a collection of prebuilt themes which are practical, beautiful and responsive. Furthermore, integrating your own custom theme can be easily achieved with the help of the preconfigred theming engine within the platform architecture.</p>
                    </div>
                    <div id="theme-mobile-background" class="mobile"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="hire-me-background">
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                        <h2>Need more support?</h2>
                        <p>Want to add more functionality to your Trado setup? Require some help with your Ruby on Rails project? Drop me a line and we can start making awesome stuff together!</p>
                        <a href="http://pph.me/tomdallimore" data-ga="true" data-event-category="hire-me" data-event-action="hire-now-pph" class='call-to-action cta-bold cta-orange' target="_blank">Hire Now</a>
                        <a href="http://tomdallimore.com/about/?utm_source=trado&utm_medium=website&utm_content=get-in-contact&utm_campaign=tomdallimore#about" data-ga="true" data-event-category="hire-me" data-event-action="get-in-contact" class='call-to-action cta-bold' target="_blank">Get in contact</a>
                    </div>
                    <div class="sixcol last"></div>
                </div>
            </div>
        </div>
    </div>
</div>