<div id="hero-image"></div>
<div id="hero">
    <div class="container">
        <h1>An open source platform<br> for your online store</h1>
        <h2>Trado is a lightweight, open source ecommerce platform; engineered to allow developers to quickly deploy a premium online store.</h2>
        <a href="getting-started.html" data-ga="true" data-event-category="getting-started" data-event-action="home" class='call-to-action cta-bold cta-green'>Get Started</a>
    </div>
</div>
<div id="content">
    <div id="cms-background">
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                        <h2>Fully featured content management software</h2>
                        <p>Trado comes bundled with fully fledged content management software; carefully designed to be intuitive and easy to use, so you can spend less time setting up and more time selling your products. The web-based interface allows you to manage your orders, product catalogue, delivery services and other key areas of your online store.</p>
                        <a href="http://demo.trado.io/admin" data-ga="true" data-event-category="demo" data-event-action="see-dashboard" class='call-to-action cta-bold cta-blue' target="_blank">See Dashboard</a>
                    </div>
                    <div class="sixcol last">
                        <img src="img/cms-mobile.png" class="mobile" alt="open source software" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content-section">
            <div class="row">
                <div class="sixcol align-center">
                    <img src="img/paypal-slide.png" class="desktop" />
                </div>
                <div class="sixcol last">
                    <h2>Secure payment gateway options</h2>
                    <p>Trado provides support for secure and popular payment gateways such as Stripe and PayPal. Managing your customer orders for payment and delivery has never been so easy, with a simple and flexible admin user interface. Within minutes of setting up your store, you can start receiving payments securely online from your customers.</p>
                    <img src="img/paypal-slide.png" class="mobile" alt="online store payments" />
                </div>
            </div>
        </div>
    </div>
    <div id="google-analytics-background">
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                        <h2>Traffic tracking with Google Analytics</h2>
                        <p>Building insights into how customers interact with your store is a breeze with the Trado ecommerce platform. Simply add your web tracking ID into the store settings, and instantly start receiving valuable data to help boost sales, find more visitors and grow your online store.</p>
                    </div>
                    <div class="sixcol last align-center">
                        <img src="img/ga-slide.png" alt="open source analytics"/>
                    </div>
                </div>
            </div>
        </div>
        <img src="img/ga-slide.png" class="tablet" alt="online store analytics"/>
    </div>
    <div id="delivery-background">
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                    </div>
                    <div class="sixcol last">
                        <h2>Powerful delivery service tools</h2>
                        <p>One of the biggest features of Trado, is the intuitive yet powerful delivery service tools. Unlike other leading ecommerce platforms, Trado can calculate delivery service options based on the weight, length and thickness dimensions of your customer orders. This allows your online store to provide a wide array of accurate delivery service options from various postal service companies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="delivery-mobile-background" class="mobile" alt="online store delivery"></div>
    </div>
    <div class="container">
        <div class="content-section" id="dev-business">
            <div class="row">
                <div class="sixcol">
                    <h2>Great for developers, managers &amp; customers</h2>
                    <p>Whether you're a developer, manager or customer, the Trado open source platform has been carefully designed to allow anyone to easily get started selling online and provide a great shopping experience. It is both scalable and stable, making it an awesome choice for businesses looking to grow their online store.</p>
                    <a href="http://demo.trado.io" data-ga="true" data-event-category="demo" data-event-action="see-demo-store" class='call-to-action cta-bold cta-blue' target="_blank">See Demo Store</a>
                </div>
                <div class="sixcol last align-center">
                    <img src="img/dev-business.png" alt="open source software"/>
                    <img src="img/dev-business-tablet.png" class="tablet" alt="open source platform"/>
                </div>
            </div>
        </div>
    </div>
    <div id="theme-background">
        <img src="img/theme-slide-final.png" class="desktop" alt="open source theme"/>
        <div class="container">
            <div class="content-section">
                <div class="row">
                    <div class="sixcol">
                    </div>
                    <div class="sixcol last">
                        <h2>Flexible theme customisation</h2>
                        <p>In order to help you get your store off the ground quickly, Trado comes bundled with a collection of prebuilt themes which are practical, beautiful and responsive. Furthermore, integrating your own custom theme can be easily achieved with the help of the preconfigred theming engine within the platform architecture.</p>
                    </div>
                    <div id="theme-mobile-background" class="mobile" alt="open source theme"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="fork-it">
        <div class="container">
            <div class="content-section">
                <h2>Trado is open source, community driven<br>and will always be free</h2>
                <a href="https://github.com/Jellyfishboy/trado" data-ga="true" data-event-category="fork-it" data-event-action="github" class='call-to-action cta-bold cta-white-border' target="_blank">Fork it on Github</a>
            </div>
        </div>
    </div>
</div>