<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Trado</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/trado-doc.css">
        <link rel="stylesheet" href="components/icomoon/dist/css/style.css" media="screen">
        <script src="components/modernizr/modernizr.js"></script>
    </head>
    <body>
        <div class="mp-pusher" id="mp-pusher">
            {{partial 'header'}}

            <div class="main">    
                {{> body }}
            </div>
            {{partial 'footer'}}
        </div>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>
        <script src="//localhost:35729/livereload.js"></script>
        <script src="js/trado-doc.js"></script>
        <script src="js/application.js"></script>
    </body>
</html>
